/*
Paleta de colores blaco y negro
de más a menos oscuro

#262526
#7f8084
#afb2b7
#d7d8da
#f3f3f3

*/

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 100%;
  height: auto;
}

.appDiv {
  min-height: 100vh;
  padding: 0.5rem 1rem;
  color: #f3f3f3;
  background-color: #262526;
}

/* --- Header --- */
.buttonSearch {
  background-color: #4d99ac;
  border-radius: 5px;
}

.form {
  width: 30%;
  min-width: 100px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(38 37 38 / 99%);
  z-index: 999;
}

.inputForm {
  width: 85%;
  margin-right: 10px;
  padding: 0.2rem;
  border-radius: 5px;
  border: 2px #4d99ac solid;
  outline: none;
}

.logoContainer {
  width: 25%;
  min-width: 100px;
  cursor: pointer;
}

/* --- Main Content --- */

.mainContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

/* --- Card --- */

.card {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #f3f3f3;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.movieDetails {
  padding: 0.3rem;
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7f8084;
  font-weight: bold;
}

.poster {
  height: 450px;
}

.voteAverage {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.2rem;
}

/* --- Modal Movie --- */

.modalCloseButton {
  align-self: flex-end;
  padding: 0.2rem;
  margin: 0.2rem;
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalImg img {
  max-height: 700px;
}

.modalInfo {
  flex: 2 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalInfoContainer {
  display: flex;
  flex-direction: column;
}

.modalMovie {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
}

.pInfo {
  margin: 0.5rem;
}

.pInfo span {
  font-weight: bold;
  text-decoration: underline;
}

/* --- Buttons Page --- */

.buttonsPage {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.button {
  font-size: 1.5rem;
  background-color: #464646;
  color: #f3f3f3;
  cursor: pointer;
  border-style: none;
  padding: 0.2rem;
  box-shadow: 2px 2px 10px 3px rgb(0 0 0 / 50%);
  border-radius: 3px;
}
