* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 100%;
  height: auto;
}

.appDiv {
  min-height: 100vh;
  padding: 0.5rem 1rem;
}

/* --- Header --- */
.buttonSearch {
  background-color: #4d99ac;
  border-radius: 5px;
}

.form {
  width: 30%;
  min-width: 100px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputForm {
  width: 85%;
  margin-right: 10px;
  padding: 0.2rem;
  border-radius: 5px;
  border: 2px #4d99ac solid;
  outline: none;
}

.logoContainer {
  width: 25%;
  min-width: 100px;
}

/* --- Main Content --- */

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* --- Card --- */

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.movieDetails {
  padding: 0.3rem;
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
